*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Teko", serif;
    font-size: 25px;
}
body{
    background-image: url(../../../assets/images/game-icon/easy-lvl-icons/easy-lvl-background.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
    width: 100%;
    height: 100vh; 
    overflow: hidden;

}
.info{
    display: flex;
    justify-content: space-between;
    width: 600px;
    height: 60px;
    margin: auto;
    background-color: rgba(167, 168, 192, 0.882);
    padding: 10px;
    margin-top: 10px ;
    margin-bottom: 20px;
    border-radius: 5px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.restart{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 55px;
    margin: auto;
    margin-right:260px;
    background-color: rgba(167, 168, 192, 0.882);
    margin-top: 10px ;
    margin-bottom: 20px;
    border: 1px solid rgba(167, 168, 192, 0.882) ;
    border-radius: 5px;
    text-align: center;
}
.restart img{
    width: 35px; 
    height: 35px;
    filter: brightness(0) saturate(100%) invert(21%) sepia(8%) saturate(4632%) hue-rotate(200deg) brightness(90%) contrast(85%);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.Back {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 55px;
    margin: auto;
    margin-left:260px; 
    background-color: rgba(167, 168, 192, 0.882);
    cursor: pointer;
    margin-top: 10px ;
    margin-bottom: 10px;
    border: 1px solid rgba(167, 168, 192, 0.882) ;
    border-radius: 5px;
    text-align: center;
}
.Back img{
    width: 35px; 
    height: 35px;
    filter: brightness(0) saturate(100%) invert(21%) sepia(8%) saturate(4632%) hue-rotate(200deg) brightness(90%) contrast(85%);
    transition: transform 0.3s ease, opacity 0.3s ease;
}
/* audio control icon */
.audio-control {
    display: flex;
    align-items: center; 
    justify-content: center; 
    cursor: pointer; 
    margin-left: 100px;
    
}
/* Styling for the icon image mute*/
.audio-icon {
    width: 40px; 
    height: 40px; 
    filter: brightness(0) saturate(100%) invert(21%) sepia(8%) saturate(4632%) hue-rotate(200deg) brightness(90%) contrast(85%);
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.audio-icon:hover {
    transform: scale(1.1);
    filter: brightness(0) saturate(100%) invert(38%) sepia(10%) saturate(6742%) hue-rotate(207deg) brightness(91%) contrast(85%);
}

.game-container{
    height: 500px;
    width: 500px;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4 , 1fr); 
    gap: 20px;
    background-color: rgba(4, 4, 4, 0.79);
}
.game-container .game-block{
    width: 100px;
    height: 100px ;
    background-color: rgba(4, 4, 4, 0.79);
    border-radius: 5px;
    transition: transform 0.5s;
    cursor: pointer;
    position: relative;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}
.game-container .game-block .front{
    font-size: 70px;
    line-height: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.game-container .game-block .back{
    transform: rotateY(180deg);
    background-color: rgba(4, 4, 4, 0.79);
    border-radius: 5px;
}
.game-container .game-block .back  p{
    font-size: 70px;
    line-height: 100px;
}

.game-container .game-block .face {
    backface-visibility: hidden;
    position:absolute;
    width: 100%;
    height: 100%;
} 

.game-container .game-block.is-flipped{
    transform: rotateY(180deg);
}

/*leaderboard*/
#leaderboard {
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: #5f5b5b; 
    border: 2px solid #c52d2d; 
    border-radius: 3%; 
    box-shadow: 0 4px 8px rgba(46, 31, 31, 0.2); 
    padding: 30px; 
    text-align: center; 
    width: 90%; 
    max-width: 450px; 
    z-index: 1000; 
    display: none; 
  }
  
  /* leaderboard h*/
  #leaderboard h2 {
    font-size: 34px;
    color: #d1d627;
    margin-bottom: 15px;
    padding: 0;
  }
  
  /* leaderboard p*/
  #leaderboard p {
    font-size: 18px;
    color: #f2ebeb;
    margin: 10px 0;
  }
  
  /* leaderboard button*/
  #leaderboard .button {
    background-color: #4b77b4; 
    color: rgb(250, 250, 250); 
    border: none;
    border-radius: 5px;
    padding: 10px 20px; 
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.6s ease; 
  }
  
  #leaderboard .button:hover {
    background-color: #20e2c8; 
  }
