* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}
body {
    background-image: url("../../../assets/images/game-icon/bg5.webp");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}
@font-face {
    font-family: Sixtyfour;
    src: url(../../../assets/fonts/Sixtyfour-Regular-VariableFont_BLED\,SCAN.ttf);
  }
  @font-face {
    font-family: teko;
    src: url(../../../assets/fonts/Jersey10-Regular.ttf);
  }

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 40px;
    max-width: 800px;
}
.ins-container {
    padding: 40px;
    border: 3px solid rgb(198, 42, 159);
    width: 100%;
    box-shadow: 0 0 5px rgba(203, 252, 255, 0.989), 0 0 10px rgba(203, 252, 255, 0.989);
    border-radius: 10px;
    background-color: rgba(53, 17, 69, 0.795);
    text-align: center;
}
.ins {
    margin-bottom: 30px;
}
.ins > p {
    text-align: justify;
    line-height: 30px;
    margin-bottom: 15px;
    font-family: "Teko", serif;
    font-size: 25px;
    cursor: default;
}
.ins > h1 {
    font-family: "Sixtyfour", serif;
    margin-bottom: 20px;
    font-size: 3vw;
    color: #ffc9f0;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7), 0 0 20px rgba(239, 48, 208, 0.8);
    animation: fadeInScale 1s ease-in-out;
    cursor: default;
}
.ins-container > a {
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 28px;
    padding: 12px 24px;
    font-family: teko, arial, helvetica;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.9s ease;
    background: linear-gradient(20deg, rgba(97, 160, 163, 0.881), rgba(239, 48, 208, 0.8));
    box-shadow: 0 0 10px rgba(239, 48, 208, 0.6);
    position: relative;
    overflow: hidden;
    font-weight: 1000;
}
.ins-container > a:hover {
    background: rgba(152, 187, 188, 0.9);
    color: rgb(172, 5, 144);
    transition: color 0.8s ease;
    box-shadow: 0 4px 10px rgba(239, 48, 208, 0.6);
}
@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* Responsive Design */
@media (max-width: 768px) {
    .ins-container {
        width: 90%;
        padding: 20px;
    }

    .ins > p {
        font-size: 20px;
        line-height: 22px;
    }

    .ins > h1 {
        font-size: 28px;
    }

    .ins-container > a {
        font-size: 20px;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .ins-container {
        width: 100%;
        padding: 15px;
    }

    .ins > p {
        font-size: 18px;
    }

    .ins > h1 {
        font-size: 24px;
    }

    .ins-container > a {
        font-size: 18px;
        padding: 8px;
    }
}
